params {
    output    = "results"
    GDC_TOKEN = "/home/whu78/gdc-user-token.2024-11-13T04_56_35.590Z.txt"

    // Base Singularity Image Directory
    sig_base         = "/archive/InternalMedicine/Chung_lab/shared/sc/sig_image"
    
    // Container Image Definitions
    img_entrez       = "${sig_base}/entreztool.sif"
    img_sra          = "${sig_base}/sra-tools.sif"
    img_fastp        = "${sig_base}/fastp-0.24.0.sif"
    img_star         = "${sig_base}/star_2.7.11b.sif"
    img_bowtie2      = "${sig_base}/bowtie2_2.4.1.sif"
    img_samtools     = "${sig_base}/samtools_1.24.sif"
    img_picard       = "${sig_base}/picard_3.4.0.sif"
    img_macs3        = "${sig_base}/macs3_3.0.0b3.sif"
    img_deeptools    = "${sig_base}/deeptools_3.5.5.sif"
    img_tecount      = "${sig_base}/tetranscripts.sif"
    img_telocal      = "${sig_base}/telocal_latest.sif"
    img_irfinder     = "${sig_base}/irfinder_2.0.1.sif"
    img_multiqc      = "${sig_base}/multiqc_latest.sif"
    img_sqanti3      = "${sig_base}/sqanti3.sif"

    cpus             = 4
    max_cpus         = 28
    max_memory       = 128.GB
    max_time         = 240.h
    single_cpu_mem   = 5.GB

    genomes = [
        GRCh38_sw: [
            star_index     : "/archive/InternalMedicine/Chung_lab/shared/sc/genome/GRCh38_STAR",
            irfinder_index : "/archive/InternalMedicine/Chung_lab/shared/sc/genome/GRCh38_IRFinder",
            bismark_index  : null,
            fasta          : "/archive/InternalMedicine/Chung_lab/shared/sc/genome/Homo_sapiens.GRCh38.dna.primary_assembly.fa",
            gtf            : "/archive/InternalMedicine/Chung_lab/shared/sc/genome/Homo_sapiens.GRCh38.100.gtf",
            te_gtf         : "/archive/InternalMedicine/Chung_lab/shared/sc/genome/GRCh38_Ensembl_rmsk_TE.gtf",
            te_loc         : "/archive/InternalMedicine/Chung_lab/shared/sc/genome/GRCh38_Ensembl_rmsk_TE.gtf.locInd",
            scTE_idx       : "/work/InternalMedicine/s184335/sc/workspace/sisi/scTE_genome_hsa/GRCh38_rmsk.exclusive.idx",
            scTE_tx_idx    : "/work/InternalMedicine/s184335/sc/workspace/sisi/scTE_genome_hsa/GRCh38_cellranger.exclusive.idx"
        ],
        GRCh38: [
            star_index     : "/nfs/roberts/project/pi_cl96/wf268/genome/GRCh38_STAR",
            fasta          : "/apps/data/genomes/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa",
            gtf            : "/apps/data/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/Genes.gencode/genes.gtf",
            genomeSize     : "hs",
            chrom_sizes    : "/nfs/roberts/project/pi_cl96/wf268/genome/GRCh38.chrom.sizes",
            bowtie2_index  : "/nfs/roberts/project/pi_cl96/wf268/genome/bowtie2/GRCh38/GRCh38"
        ],

        mm10_sw: [
            star_index     : "/archive/InternalMedicine/Chung_lab/shared/sc/genome/mm10_STAR",
            irfinder_index : "/archive/InternalMedicine/Chung_lab/shared/sc/genome/mm10_IRFInder", 
            bismark_index  : "/archive/InternalMedicine/Chung_lab/shared/sc/genome/mm10_bismark", 
            fasta          : "/project/InternalMedicine/Chung_lab/shared/BenKroger/RefFolder/mm10/mm10.fa",
            gtf            : "/project/InternalMedicine/Chung_lab/shared/BenKroger/RefFolder/mm10/mm10.knownGene.gtf",
            te_gtf         : "/archive/InternalMedicine/Chung_lab/shared/sc/genome/mm10_rmsk_TE.gtf", 
            te_loc         : "/archive/InternalMedicine/Chung_lab/shared/sc/genome/mm10_rmsk_TE.gtf.locInd",
            scTE_idx       : "/work/InternalMedicine/s184335/sc/workspace/sisi/scTE_genome/mm10.exclusive.idx",
            scTE_tx_idx    : "/work/InternalMedicine/s184335/sc/workspace/sisi/scTE_genome/mm10_rmsk_tx_standard.inclusive.idx"
        ],

        mm10: [
            star_index     : "/nfs/roberts/project/pi_cl96/wf268/genome/mm10_STAR",
            fasta          : "/nfs/roberts/apps/data/genomes/Mus_musculus/NCBI/GRCm38/Sequence/WholeGenomeFasta/genome.fa",
            gtf            : "/nfs/roberts/apps/data/genomes/Mus_musculus/NCBI/GRCm38/Annotation/Genes/genes.gtf",
            genomeSize     : "mm",
            chrom_sizes    : "/nfs/roberts/project/pi_cl96/wf268/genome/mm10.chrom.sizes",
            bismark_index  : "/archive/InternalMedicine/Chung_lab/shared/sc/genome/mm10_bismark",
            te_gtf         : "/archive/InternalMedicine/Chung_lab/shared/sc/genome/mm10_rmsk_TE.gtf",
            te_loc         : "/archive/InternalMedicine/Chung_lab/shared/sc/genome/mm10_rmsk_TE.gtf.locInd",
            scTE_idx       : "/archive/InternalMedicine/Chung_lab/shared/sc/genome/mm10_scTE",
            irfinder_index : "/nfs/roberts/project/pi_cl96/wf268/genome/IRFinder/mm10",
            irfinder_sif   : "/nfs/roberts/project/pi_cl96/wf268/sif_img/IRFinder",
            bowtie2_index  : "/nfs/roberts/project/pi_cl96/wf268/genome/bowtie2/mm10/mm10"
        ]
    ]
}

singularity {
    enabled    = true
    autoMounts = true
    cacheDir   = "/archive/InternalMedicine/Chung_lab/shared/sc/sig_image"
}

// Global process defaults
process {
    cpus = 8
    memory = 32.GB
    time = 9.h
    queueSize = 8
    containerOptions = '--bind /endosome,/work,/project,/archive'

    withName: 'GET_SRR_ID' {
        publishDir = [
            path: "${params.output}/srr_ids",
            mode: 'copy',
            pattern: "*.txt"
        ]
    }

    withName: 'DOWNLOAD_FASTQ' {
        container = "${params.img_sra}"
    }

    withName: 'TRIM_FASTQ' {
        container = "${params.img_fastp}"
    }

    withName: 'ALIGN_DNA' {
        container = "${params.img_bowtie2}"
    }

    withName: 'ALIGN_RNA_.*' {
        container = "${params.img_star}"
        publishDir = [
            path: "${params.output}/alignment_rna",
            mode: 'copy',
            pattern: "*.{out,tab}"
        ]
    }

    withName: 'STAR_TEALIGNMENT' {
        container = "${params.img_star}"
        publishDir = [
            path: "${params.output}/star_te",
            mode: 'copy',
            pattern: "*.{bam,bai,out,tab}"
        ]
    }

    withName: 'SAMTOOLS_INDEX' {
        container = "${params.img_samtools}"
        publishDir = [
            path: "${params.output}/star_te",
            mode: 'copy',
            pattern: "*.{bam,bai,out,tab}"
        ]
    }

    withName: 'TECOUNT' {
        container = "${params.img_tecount}"
        publishDir = [
            path: "${params.output}/tecount",
            mode: 'copy',
            pattern: "*.cntTable"
        ]
    }

    withName: 'TELOCAL' {
        container = "${params.img_telocal}"
        publishDir = [
            path: "${params.output}/telocal",
            mode: 'copy',
            pattern: "*.cntTable"
        ]
    }

    withName: 'SC_TE' {
        publishDir = [
            path: "${params.output}/scte",
            mode: 'copy',
            pattern: "*.csv"
        ]
    }

    withName: 'SC_TELOCAL' {
        publishDir = [
            path: "${params.output}/scte",
            mode: 'copy',
            pattern: "*.csv"
        ]
    }

    withName: 'IRFINDER_FASTQ' {
        container = "${params.img_irfinder}"
        publishDir = [
            path: "${params.output}/irfinder",
            mode: 'copy'
        ]
    }

    withName: 'MARK_DUPLICATES' {
        container = "${params.img_picard}"
        publishDir = [
            path: "${params.output}/dedup",
            mode: 'copy',
            pattern: "*.{txt}"
        ]
    }

    withName: 'FILTER_BAM' {
        container = "${params.img_samtools}"
        publishDir = [
            path: "${params.output}/filtered_bam",
            mode: 'copy',
            pattern: "*.{txt}"
        ]
    }

    withName: 'MACS3_CALLPEAK_NoCONTROL' {
        container = "${params.img_macs3}"
        publishDir = [
            path: "${params.output}/peaks",
            mode: 'copy',
            pattern: "*.{bed,narrowPeak,broadPeak,xls}"
        ]
    }

    withName: 'GENERATE_BIGWIG' {
        container = "${params.img_deeptools}"
        publishDir = [
            path: "${params.output}/bigwig",
            mode: 'copy',
            pattern: "*.bw"
        ]
    }

    withName: 'SAMTOOLS_FLAGSTAT.*' {
        container = "${params.img_samtools}"
        publishDir = [
            path: "${params.output}/stats",
            mode: 'copy',
            pattern: "*.{txt,stat,flagstat}"
        ]
    }

    withName: 'MULTIQC' {
        container = "${params.img_multiqc}"
        publishDir = [
            path: "${params.output}/multiqc",
            mode: 'copy',
            pattern: "multiqc_*"
        ]
    }
}
