params {
    GDC_TOKEN = "/home/whu78/gdc-user-token.2024-11-13T04_56_35.590Z.txt"  // Set the path to your GDC token file

    sig_base = "/archive/InternalMedicine/Chung_lab/shared/sc/sig_image"
    img_tecount = "${sig_base}/tetranscripts.sif"
    img_telocal = "${sig_base}/telocal_latest.sif"

    cpus            = 4
    max_cpus        = 28
    max_memory      = 128.GB
    max_time        = 240.h
    single_cpu_mem  = 5.GB

    genomes = [
        GRCh38: [
            star_index: "/project/InternalMedicine/Chung_lab/shared/BenKroger/RefFolder/hg38/StarIndex/",
            fasta: "/project/InternalMedicine/Chung_lab/shared/BenKroger/RefFolder/hg38/Homo_sapiens.GRCh38.dna.primary_assembly.fa",
            gtf: "/project/InternalMedicine/Chung_lab/shared/BenKroger/RefFolder/hg38/Homo_sapiens.GRCh38.110.gtf",
        ],
        mm10: [
            star_index: "/archive/InternalMedicine/Chung_lab/shared/sc/genome/mm10_STAR",
            bismark_index: "/archive/InternalMedicine/Chung_lab/shared/sc/genome/mm10_bismark",
            fasta: "/project/InternalMedicine/Chung_lab/shared/BenKroger/RefFolder/mm10/mm10.fa",
            gtf: "/project/InternalMedicine/Chung_lab/shared/BenKroger/RefFolder/mm10/mm10.knownGene.gtf",
            te_gtf: "/archive/InternalMedicine/Chung_lab/shared/sc/genome/mm10_rmsk_TE.gtf",
            te_loc: "/archive/InternalMedicine/Chung_lab/shared/sc/genome/mm10_rmsk_TE.gtf.locInd"
        ]
    ]

    genome = "mm10"

}

process {
    cpus = 8
    memory = 32.GB
    time = 9.h
    queueSize = 8
}
